:root{
	--color-gr:#06FF00;
	--color-bg:#191919;
}
body{
	min-height: 100vh;
	display:grid;
	place-items:center;
	background-color: var(--color-bg);
	font-family: cursive;
}
.neon-button{
	font-size:4rem;
	cursor:pointer;
	color:var(--color-gr);
	text-decoration: none;
	border:0.123rem solid currentColor;
	border-radius:0.2rem;
}